.maincontainer{

    background-color: rgb(6, 1, 57);
    height: 500px;
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.subcontainer{
width: 630px;
height: 300px;
background-color:pink;
border-radius: 15px;
display: flex;
justify-content: center;
align-items: center;
column-gap: 10px;
}

.box1{
    width: 240px;
height: 260px;
background-color: black;
border-radius: 15px;
text-align: center;
}

.box2{

width: 325px;
height: 260px;
background-color: black;
border-radius: 15px;
text-align: justify;
display: flex;
justify-content:center;
align-items: center;


}

.image{
margin-top: 30px;
border-radius: 20px;
}

.boxcontent{
    margin-left:  20px;
    margin-bottom: 30px;
}