.container{
    height: 900px;
    width: 100%;
    margin: auto;
    background-color:#DBE4F1;
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
    
}



.main-container{
    height: 700px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 500px 500px;
    justify-content: center;
    align-content: center;
    gap: 25px;
}

.mini-container-1{
    margin-top: 100px;
    // height: 300px;
    // width: 300px;
    border: 1px solid black;
    background-color: white;
    
}
.cont{
    margin: auto;
width: 95%;
    height: 90%;
    background-color: #FFE3CF;
}
.mini-container-2{
@extend .mini-container-1;
background-color: #FFE3CF;
}

.mini-container-3{
    @extend .mini-container-1;
    background-color: #E1DBF9;
}

.mini-container-4{
    @extend .mini-container-1;
    background-color: #D5F6ED;
}

.main-container{
    span{
        background-color: white;
    }

    .c1{
height: 80%;
    }
}