.mailcontainer {
    height: 800px;
    width: 700px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
 flex-wrap: wrap;
 justify-content:space-between;
    
}

.innercontainer{
    height: 150px;
    width: 150px;
    border: 2px solid green;
    font-family:'Times New Roman', Times, serif
    
}
